.header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    margin:0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .header ul {
        list-style: none;
        padding: 0;
    }

    .header li {
        display: inline;
        margin: 0 10px;
        font-family: 'Roboto', serif;
    }

    .header a {
        color: white;
        text-decoration: none;
    }

        .header a:hover {
            text-decoration: underline;
        }

img {
    width: 100px;
    height: 100px;
    margin: 1em;
}

p {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    display:flex;
    flex-wrap:nowrap;
}