.header {
    background-color: #7A5441;
    color: white;
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav{
    padding: 2%;
}

.header ul {
    list-style: none;
    padding: 0;
}

    .header li {
        display: inline;
        margin: 0 10px;
    }

    .header a {
        color: white;
        text-decoration: none;
    }

        .header a:hover {
            text-decoration: underline;
        }

img {
    width: 120px;
    height: 120px;
    margin: 1em;
    border: 1px solid #7A5441;
    border-radius: 5px;
}

.Logo {
    font-size: 30px;
    display:flex;
    flex-wrap:nowrap;
}